
  <div class="container mt-5">
    <h1>{{assessment.assessmentTitle}}</h1>
    {{#if assessment}}
      {{#each assessment.questions}}
        <div class="card mb-3">
          <div class="card-header">
            {{questionText}}
          </div>
          <div class="card-body">
            <p>Answer: {{userAnswer}}</p>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>Not available.</p>
    {{/if}}
  </div>
</body>
</html>
