<style>
    html,
    body {
        background-color: rgb(243, 243, 243);
    }

    .about-img {
        max-width: 500px;
        height: auto;
        border-radius: 20px;
    }
</style>

<br><br>
<div class="container-md mt-5 p-5">
    <div class="d-flex gap-4 align-items-start">
        <!-- Image on the left -->
        <div class="">
            <img src="/images/img/workspace.jpg" alt="" class="about-img">
        </div>

        <!-- Content on the right -->
        <div class="p-2">
            <h4>About Us</h4>
            <p>
                CoSpace is your go-to online platform for discovering and booking coworking spaces that perfectly align
                with your dynamic work lifestyle. As one of the fastest-growing platforms in the industry, CoSpace
                offers a curated selection of workspaces equipped with modern amenities designed to inspire productivity
                and collaboration.
                <br><br>
                At CoSpace, we believe in the power of choice and flexibility. Our spaces are crafted to cater to the
                needs of today’s professionals, entrepreneurs, and creatives, providing environments that foster
                Freedom, Flexibility, and Fulfillment. Whether you're a freelancer seeking a vibrant community, a
                startup looking for an inspiring office, or a team needing a flexible workspace, CoSpace has something
                for everyone.
            </p>


        </div>
    </div>

    <div class="row g-4 mt-4">
        <div class="col-lg-6">
            <div class="card shadow-sm p-5">
                <img src="/images/icons/vision.png" width="20%" class="mb-3">
                <h4><b>Our Vision</b></h4>
                <p>
                    To revolutionize the way people work by providing access to innovative and inspiring coworking
                    spaces
                    that empower professionals to connect, collaborate, and thrive.
                </p>
                <br>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow-sm p-5">
                <img src="/images/icons/mission.png" width="20%" class="mb-3">
                <h4><b>Our Mission</b></h4>
                <p>
                    CoSpace isn't just about finding a place to work—it's about finding a place where you can excel. Our
                    mission is to create a seamless, flexible, and enriching work experience that adapts to the evolving
                    needs of modern professionals.
                </p>
            </div>
        </div>
    </div>



</div>