<style>
    html,
    body {
        background-color: rgb(243, 243, 243);
    }

    .about-img {
        border-radius: 20px;
    }

    .service-ul li {
        list-style: disc;
    }
</style>
<br>
<div class="container-lg mt-5">
    <img src="/images/img/services.png" alt="" class="about-img">
</div>
<div class="container mt-5 mb-5">
    <h2>Our Services</h2>

    <p>At CoSpace, we provide a range of services designed to meet the diverse needs of modern professionals, startups,
        and businesses. Whether you need a quiet spot to work, a vibrant community to connect with, or a flexible office
        space for your team, CoSpace has you covered.</p>

    <ul class="service-ul ">
        <li>
            <strong>Coworking Spaces:</strong><br> Choose from a variety of coworking options including hot desks,
            dedicated
            desks, and private offices. Our spaces are fully equipped with high-speed internet, comfortable seating, and
            access to communal areas.
        </li><br>
        <li>
            <strong>Meeting Rooms:</strong> <br>Book fully-equipped meeting rooms for your team discussions, client
            meetings, or presentations. Our meeting rooms come with AV equipment, whiteboards, and other essential
            amenities.
        </li><br>
        <li>
            <strong>Virtual Offices:</strong><br> Get a prestigious business address, mail handling, and professional
            phone
            answering services with our virtual office packages—ideal for remote businesses and freelancers.
        </li><br>
        <li>
            <strong>Event Spaces:</strong> <br>Host workshops, seminars, or networking events in our versatile event
            spaces.
            We provide customizable setups, from classroom to theater style, to suit your event's needs.
        </li><br>
        <li>
            <strong>Business Support Services:</strong><br> Enhance your productivity with our range of business support
            services, including printing, administrative assistance, and IT support.
        </li><br>
        <li>
            <strong>Community and Networking:</strong> <br>Be part of a vibrant community of like-minded professionals.
            Attend regular networking events, workshops, and social gatherings to connect, collaborate, and grow your
            business.
        </li><br>
        <li>
            <strong>Flexible Membership Plans:</strong><br> We offer flexible membership options to suit your
            needs—whether
            you need space for a day, a month, or longer. Enjoy the flexibility to scale up or down based on your
            requirements.
        </li>
    </ul>
</div>