<div class="page-content-wrapper main-content">
    <div class="container-md">
        <h4 class="mt-3 mb-3">Add Your Workspace</h4>
        <form action="/builder/add-workspace" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="date" id="datetime">
            {{#if builder}}
            <input type="hidden" value={{builder.Companyname}} name="bname">
            {{/if}}
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputText">Workspace Name</label>
                                <input class="form-control" id="exampleInputText" name="wname" type="text"
                                    placeholder="">
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText">Available Seats</label>
                                <input class="form-control" id="exampleInputText" name="seat" type="text"
                                    placeholder="">
                            </div>

                            <div class="d-flex gap-2">

                                <div class="form-group w-100">
                                    <label class="form-label" for="exampleInputText"> Price</label>
                                    <input class="form-control" id="exampleInputText" name="Price" type="number"
                                        placeholder="">
                                </div>

                                <div class="form-group w-100">
                                    <label class="form-label" for="defaultSelect">Select Format</label>
                                    <select class="form-select form-control-clicked " id="defaultSelect" name="format"
                                        aria-label="Default select example">
                                        <option selected="">Select Type</option>
                                        <option value="hour">Per Hour</option>
                                        <option value="day">Per Day</option>
                                        <option value="month">Per Month</option>
                                        <option value="year">Per Year</option>
                                    </select>
                                </div>
                            </div>



                            {{#if builder}}
                            <div class="form-group">
                                <label class="form-label" for="exampleInputText"> Locality</label>
                                <textarea class="form-control" name="baddress">{{builder.Address}} </textarea>
                            </div>
                            {{/if}}

                            {{!-- <div class="form-group">
                                <label class="form-label" for="inputDate">Date picker</label>
                                <input class="form-control" id="inputDate" type="date">
                            </div> --}}

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputText">Workspace Image</label>
                                <input class="form-control" id="exampleInputText" name="Image" type="file">
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText">Description</label>
                                <textarea class="form-control" id="" name="desc"></textarea>

                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText">Amenities</label>
                                <textarea class="form-control" id="editor" name="amenities"></textarea>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-dark mt-4">Add Workspace</button>
        </form>

    </div>
</div>

<script>
    // Get current date and time
    const now = new Date();
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, '0');
    const day = now.getDate().toString().padStart(2, '0');
    const hours = ((now.getHours() + 11) % 12 + 1).toString().padStart(2, '0'); // Convert to 12-hour format
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const ampm = now.getHours() >= 12 ? 'PM' : 'AM';

    // Set default value to current date and time in 12-hour format with AM/PM
    const defaultDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
    document.getElementById('datetime').value = defaultDateTime;
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>