<section>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Order Placed Successfully!</h4>
           <p>All done! Your workspace is secured for you.".</p>
            
        </div>
        <div class="text-center">
            <a href="/orders" class="btn btn-primary mt-4 btn-lg">View Order</a>
        </div>
    </div>
</section>